#bin/
#obj/
#/packages/
#riderModule.iml
#/_ReSharper.Caches/

# Ignore all files by default
*

# Allow directories to be traversed
!*/

# Allow .cs files in all directories
!**/*.cs

# Ignore build and IDE-specific files
bin/
obj/
.idea/
*.user
*.vs/
*.suo
*.sln.iml
_ReSharper.*
